[Unit]
Description = mjpg_streamer boot service

[Service]
ExecStart=/bin/sh /home/pi/bin/mjpg_streamer.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target

